{% extends "base.html" %}

{% block html_title %}
  Challenges Top
{% endblock %}

{% block html_body %}
  {% include "challenges/includes/header.html" with active_page="index" %}

  <h1>Monthly Challenge List</h1>

  {% for month in month_list %}
    <ul>
      {% comment %}
        Doc for url-tag:
          https://docs.djangoproject.com/en/5.2/ref/templates/builtins/#url
      {% endcomment %}
      <li><a href="{% url "month-challenge" month=month %}">{{ month|title }}</a></li>
    </ul>
  {% endfor %}
{% endblock %}
